@use '../../../styles/mixin.scss' as mixin;

.main-button {
  @include mixin.font-pixelifySans;
  margin: auto;
  width: 200px;
  text-align: center;
  display: block;
  padding: 5px 60px;
  border: 0;
  border-radius: 8px;
  color: white;
  background-color: var(--primary);
  font-weight: 700;
  font-size: 28px;
}

.main-button:hover {
  cursor: pointer;
  color: var(--primary);
  background-color: white;
  box-shadow: 0 0 0 2px var(--primary) inset;
}

.modal-container {
  position: relative;
  .modal-button {
    width: min-content;
    display: flex;
    padding: 0;
    margin-bottom: 10px;
    background-color: rgba(0, 0, 0, 0);
    border: 0;
    align-items: center;

    .modal-label {
      @include mixin.font-urbanist;
      font-size: 16px;
      margin-right: 10px;
    }

    .modal-icon {
      display: flex;
      align-items: center;
      background-color: var(--text-color);
      border-radius: 100%;
      padding: 1px;
      color: white;
    }
  }

  .modal-button:hover {
    cursor: pointer;
  }
}

.file-container {
  background-color: #c6cbd3;
  color: white;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 120px;
  height: 40px;
  margin-left: 20px;
  padding: 5px;
  border-radius: 10px;

  .file-icon {
    color: #c6cbd3;
    font-size: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background-color: white;
    border-radius: 6px;

    svg {
      stroke-width: 1.5;
    }
  }

  .file-action {
    flex-grow: 1;
    font-size: 20px;
    font-weight: 800;
    text-align: center;
  }
}

.able-file-container {
  background-color: var(--primary);
  color: white;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 120px;
  height: 40px;
  margin-left: 20px;
  padding: 5px;
  border-radius: 10px;

  .file-icon {
    font-size: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background-color: white;
    border-radius: 6px;
    color: var(--primary);

    svg {
      stroke-width: 1.5;
    }
  }

  .file-action {
    flex-grow: 1;
    font-size: 20px;
    font-weight: 800;
    text-align: center;
  }
}

.able-file-container:hover {
  cursor: pointer;
  background-color: var(--primary);
  color: white;
}
