@use './fonts';
@use './mixin' as mixin;

html,
body,
div,
span,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
address,
em,
img,
strong,
sub,
sup,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
footer,
header,
nav,
section,
audio,
video,
pre {
  @include mixin.font-urbanist;
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  vertical-align: baseline;
}

html,
body {
  @include mixin.font-urbanist;
  height: 100%;
  background-color: var(--layout-bg-color);
  font-size: 16px;
  color: var(--text-color);
}

img {
  width: inherit;
}
