@mixin font-urbanist {
  font-family: 'Urbanist';
  letter-spacing: -0.1px;
}

@mixin font-pixelifySans {
  font-family: 'PixelifySans';
}

@mixin tablet {
  @media screen and (max-width: 768px) {
    @content;
  }
}
