@use '../../styles/mixin' as mixin;

.container {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  .register-form-title {
    text-align: left;
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 30px;
  }

  .register-form {
    text-align: left;
  }
}

.input-container {
  display: flex;
  flex-direction: column;

  .input-title {
    font-size: 18px;
  }

  .input-content {
    @include mixin.font-urbanist;
    height: 32px;
    width: 300px;
    margin-top: 8px;
    margin-bottom: 5px;
    border: solid 1px #c9c9c9;
    border-radius: 5px;
    padding: 3px 3px;
    font-size: 16px;
  }

  .error-message {
    width: 306px;
    height: 12px;
    font-size: 12px;
    text-align: right;
    color: tomato;
    margin-bottom: 20px;
  }
}
