@use '../../../styles/mixin.scss' as mixin;

.modal-window {
  @include mixin.font-pixelifySans;
  position: absolute;
  z-index: 5;
  top: 0;
  left: 90px;
  width: 440px;
  padding: 20px;
  background-color: var(--text-color);
  border-radius: 10px;

  .modal-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    margin-bottom: 10px;

    .modal-title {
      @include mixin.font-urbanist;
      font-size: 20px;
    }

    .modal-close-button {
      margin: 0;
      padding: 0;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: rgba(0, 0, 0, 0);
      color: white;
      border: 0;
      font-size: 28px;
    }

    .modal-close-button:hover {
      cursor: pointer;
    }
  }

  .modal-content {
    display: flex;
    flex-wrap: wrap;
    flex: 1;
    gap: 10px;
    @include mixin.font-urbanist;
    color: white;

    .card {
      width: 140px;
      height: 140px;
      background-color: white;
      border-radius: 10px;
      color: var(--primary);
      border: 0;
      padding: 0;

      .card-image {
        width: 100%;
        margin-top: 10px;
      }

      .card-title {
        @include mixin.font-urbanist;
        font-size: 20px;
        font-weight: 700;
        margin: 10px;
        width: 120px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        text-align: left;
      }
    }

    .card:hover {
      width: 140px;
      height: 140px;
      background-color: var(--primary);
      border-radius: 10px;
      color: white;
      cursor: pointer;
    }
  }
}

.control-layer {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 100;
  display: flex;
  justify-content: center;
  align-items: flex-start;

  .control-modal-window {
    @include mixin.font-urbanist;
    padding: 30px;
    background-color: var(--text-color);
    border-radius: 10px;
    margin-top: 120px;

    .control-modal-header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      color: white;
      margin-bottom: 30px;

      .control-modal-title {
        @include mixin.font-pixelifySans;
        font-size: 30px;
      }

      .control-modal-sub-title {
        @include mixin.font-urbanist;
        font-size: 25px;
      }

      .control-modal-close-button {
        margin: 0;
        padding: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: rgba(0, 0, 0, 0);
        color: white;
        border: 0;
        font-size: 28px;
      }

      .control-modal-close-button:hover {
        cursor: pointer;
      }
    }

    .control-modal-content {
      @include mixin.font-urbanist;
      color: white;
      width: 1000px;

      p {
        margin-bottom: 10px;
      }

      .control-image {
        display: block;
        margin-bottom: 20px;
      }

      .controls-readme-link {
        color: white;
        font-weight: bold;
        margin-right: 3px;
      }
    }
  }
}
