@use '../../styles/mixin.scss' as mixin;

.login-logo {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -280%);
  width: 235px;
  margin: auto;
  margin-bottom: 30px;
  text-align: center;
}

.wrapper {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -70%);
  text-align: center;

  .text-button {
    @include mixin.font-urbanist;
    margin-top: 10px;
    border: 0;
    background-color: rgba(0, 0, 0, 0);
    color: #c3c3c3;

    .text-button-title {
      @include mixin.font-pixelifySans;
      color: black;
      font-weight: 700;
      font-size: 20px;
    }
  }

  .text-button:hover {
    text-decoration: underline;
    cursor: pointer;
  }

  .input-container {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;

    .login-input {
      @include mixin.font-urbanist;
      width: 200px;
      font-size: 16px;
      border: 0;
      border-bottom: solid 1px #c3c3c3;
      padding: 3px 3px;
      margin-bottom: 10px;
    }
  }
}
