@use '../../styles/mixin.scss' as mixin;

.work-space {
  display: flex;
  height: 100vh;
  gap: 15px;

  .side-panel {
    display: flex;
    flex-direction: column;
    width: 18%;
    gap: 5px;
  }

  .main-panel {
    display: flex;
    flex-direction: column;
    width: 80%;
    gap: 15px;
  }
}

.setting-area {
  height: 20%;
  display: flex;
  flex-direction: column;
  background-color: white;
  padding: 20px;

  .main-logo {
    width: 120px;
    margin-bottom: 10px;
  }

  .user-info {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;

    .user-name {
      font-weight: 700;
      font-size: 20px;
    }

    .logout-button {
      @include mixin.font-urbanist;
      font-size: 16px;
      background-color: rgba(0, 0, 0, 0);
      border: 0;
    }

    .logout-button:hover {
      text-decoration: underline;
      cursor: pointer;
    }
  }

  .layout-setting {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;

    .layout-select {
      @include mixin.font-urbanist;
      border: 0;
      font-weight: 700;
    }
  }
}

.layer-area {
  flex: 1;
  display: flex;
  flex-direction: column;
  background-color: white;
  padding: 20px;
  max-height: 638px;

  .layer-header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;

    .title {
      font-weight: 700;
      font-size: 20px;
    }

    .layer-add-button {
      padding: 4px 4px;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: rgba(0, 0, 0, 0);
      font-size: 18px;
      border: 0;
    }

    .layer-add-button:hover {
      cursor: pointer;
      background-color: var(--text-color);
      color: white;
      border-radius: 8px;
    }
  }

  .layer-content {
    display: flex;
    flex: 1;
    flex-direction: column;
    gap: 10px;
    overflow-y: auto;
  }
}

.layer-card {
  background-color: #f9f9f9;
  border: 0;
  justify-content: space-between;
  padding: 5px;
  border-radius: 10px;
  font-size: 16px;
  align-items: center;

  .layer-image-wrapper {
    display: flex;

    .layer-info {
      display: block;

      .layer-opacity {
        display: flex;
        align-items: center;

        .image-opacity {
          width: 40%;
          margin: 0 10px 0 5px;
        }
      }
    }
  }

  .layer-visible {
    border: 0;
    background-color: rgba(0, 0, 0, 0);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 5px;
    color: #aeaeae;
    font-size: 20px;
    margin-right: 10px;
  }

  .layer-visible:hover {
    cursor: pointer;
    padding: 5px;
    background-color: lightgray;
    color: white;
    border-radius: 8px;
  }

  .layer-image {
    display: flex;

    .layer-image-info {
      .layer-wrapper {
        display: flex;
        justify-content: center;
      }

      .image-title {
        font-weight: 700;
      }
    }

    .layer-icon {
      display: flex;

      .layer-resize,
      .layer-resize-confirm {
        margin: 0 0 0 auto;
        border: 0;
        background-color: rgba(0, 0, 0, 0);
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 5px;
        color: #aeaeae;
        font-size: 20px;
      }

      .layer-resize:hover,
      .layer-resize-confirm:hover {
        cursor: pointer;
        padding: 5px;
        background-color: lightgray;
        color: white;
        border-radius: 8px;
      }

      .layer-delete {
        margin: 0 0 0 auto;
        border: 0;
        background-color: rgba(0, 0, 0, 0);
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 5px;
        color: #aeaeae;
        font-size: 20px;
      }

      .layer-delete:hover {
        cursor: pointer;
        padding: 5px;
        background-color: lightgray;
        color: white;
        border-radius: 8px;
      }
    }

    .layer-image-setting {
      display: flex;
      margin-top: 5px;

      .layer-image-size {
        width: 45%;

        input {
          @include mixin.font-urbanist;
          display: inline-block;
          width: 57%;
          border: 0;
          font-size: 14px;
          margin: 2px 2px 2px 0;
          background-color: rgba(0, 0, 0, 0);
        }
      }
    }
  }
}

.layer-card {
  background-color: #f9f9f9;
  border: 0;
  justify-content: space-between;
  padding: 5px;
  display: flex;
  border-radius: 10px;
  font-size: 16px;
  align-items: center;

  .layer-info {
    display: flex;

    .layer-visible {
      border: 0;
      background-color: rgba(0, 0, 0, 0);
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 0 5px;
      color: #aeaeae;
      font-size: 20px;
      margin-right: 10px;
    }

    .layer-visible:hover {
      cursor: pointer;
      padding: 5px;
      background-color: lightgray;
      color: white;
      border-radius: 8px;
    }

    .layer-wrapper {
      display: flex;
      flex-direction: column;
      text-align: left;

      .input-label {
        font-weight: 700;
        display: inline-block;
        width: 20%;
      }

      .layer-name-input,
      .layer-height-input,
      .layer-z-Index-input {
        @include mixin.font-urbanist;
        display: inline-block;
        width: 35%;
        border: 0;
        border-bottom: solid 1px lightgray;
        font-size: 14px;
        padding: 2px;
        margin: 2px 4px 2px 0;
        background-color: rgba(0, 0, 0, 0);
      }

      .units {
        font-size: 12px;
      }
    }
  }

  .layer-icon {
    .layer-icon-box {
      display: flex;
      justify-content: center;
      align-items: center;

      .layer-fill-input {
        width: 50%;
        border: 0;
        background-color: rgba(0, 0, 0, 0);
        padding-bottom: 5px;
      }

      .layer-fill-input {
        width: 25px;
        height: 25px;
        border: 0;
        padding: 0;
        background-color: rgba(0, 0, 0, 0);
      }

      .layer-fill-input::-webkit-color-swatch {
        border: solid 1px black;
      }

      .layer-fill-label {
        font-size: 14px;
        margin: 0 4px;
      }

      .layer-icon-save,
      .layer-icon-copy,
      .layer-icon-delete {
        border: 0;
        background-color: rgba(0, 0, 0, 0);
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 5px;
        color: #aeaeae;
        font-size: 20px;
      }

      .layer-icon-delete {
        font-size: 22px;
      }

      .layer-icon-save:hover,
      .layer-icon-copy:hover,
      .layer-icon-delete:hover {
        cursor: pointer;
        padding: 5px;
        background-color: lightgray;
        color: white;
        border-radius: 8px;
      }
    }
  }
}

.select-layer-card {
  background-color: var(--primary);
  border: 0;
  justify-content: space-between;
  padding: 5px;
  display: flex;
  border-radius: 10px;
  font-size: 16px;
  align-items: center;

  .layer-info {
    display: flex;

    .layer-visible {
      border: 0;
      background-color: rgba(0, 0, 0, 0);
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 0 5px;
      color: white;
      font-size: 20px;
      margin-right: 10px;
    }

    .layer-visible:hover {
      cursor: pointer;
      padding: 5px;
      background-color: white;
      color: var(--primary);
      border-radius: 8px;
    }

    .layer-wrapper {
      display: flex;
      flex-direction: column;
      text-align: left;
      color: white;

      .input-label {
        font-weight: 700;
        display: inline-block;
        width: 20%;
      }

      .layer-name-input,
      .layer-height-input,
      .layer-z-Index-input {
        @include mixin.font-urbanist;
        display: inline-block;
        color: white;
        font-size: 14px;
        width: 35%;
        border: 0;
        border-bottom: solid 1px white;
        padding: 2px;
        margin: 2px 4px 2px 0;
        background-color: rgba(0, 0, 0, 0);
      }

      .units {
        font-size: 12px;
      }
    }
  }

  .layer-icon {
    .layer-icon-box {
      display: flex;
      justify-content: center;
      align-items: center;
      color: white;
      text-align: center;

      .layer-fill-input {
        width: 25px;
        height: 25px;
        border: 0;
        padding: 0;
        background-color: rgba(0, 0, 0, 0);
      }

      .layer-fill-input::-webkit-color-swatch {
        border: solid 1px white;
      }

      .layer-fill-label {
        font-size: 14px;
        margin: 0 4px;
      }

      .layer-icon-save,
      .layer-icon-copy,
      .layer-icon-delete {
        border: 0;
        background-color: rgba(0, 0, 0, 0);
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 5px;
        color: white;
        font-size: 20px;
      }

      .layer-icon-delete {
        font-size: 22px;
      }

      .layer-icon-save:hover,
      .layer-icon-copy:hover,
      .layer-icon-delete:hover {
        cursor: pointer;
        padding: 5px;
        background-color: white;
        color: var(--primary);
        border-radius: 8px;
      }
    }
  }
}

.drawing-area {
  display: flex;
  flex: 1;
  gap: 15px;
  margin-top: 15px;

  .canvas-2d,
  .canvas-3d {
    flex: 4;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    border-radius: 10px;
    padding: 20px;
    position: relative;

    .toolbox-container {
      background-color: #f9f9f9;
      padding: 10px;
      position: absolute;
      top: 5%;
      left: 50%;
      transform: translate(-50%, -50%);
      display: flex;
      gap: 10px;
      border-radius: 10px;
      z-index: 3;

      .divide-tool {
        border-right: solid 1px gray;
        margin: 0 2px;
      }

      .tool-button {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: white;
        color: var(--text-color);
        font-size: 20px;
        border: 0;
        border-radius: 8px;
        padding: 6px 8px;

        svg {
          fill: var(--text-color);
          transition: fill 0.3s ease;
        }
      }

      .tool-button:hover {
        background-color: var(--primary);
        cursor: pointer;
        color: white;
        font-size: 20px;

        svg {
          fill: white;
        }
      }

      .tool-button.selected {
        background-color: var(--primary);
        color: white;

        svg {
          fill: white;
        }
      }
    }
  }
  .canvas-3d {
    flex: 6;
  }

  .canvas-2d,
  .canvas-3d {
    .drawing-screen {
      border: solid 1px gray;
      width: 100%;
      height: 100%;
    }
    .default-logo {
      font-size: 70px;
      color: rgb(213, 213, 213);
    }

    .drawing-canvas {
      background-color: white;
      border: solid 2px var(--text-color);
    }
  }
}

.button-area {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding-bottom: 15px;
}

.alert-container {
  position: fixed;
  top: -100px;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 8px;
  padding: 15px 30px;
  text-align: center;
  width: fit-content;
  height: fit-content;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--text-color);
  z-index: 10;
  animation:
    slideDown 0.5s forwards,
    slideUp 0.5s 1.5s forwards;

  .alert-content {
    @include mixin.font-urbanist;
    font-weight: 400;
    font-size: 14px;
    color: white;
  }
}

@keyframes slideDown {
  to {
    top: 5%;
  }
}

@keyframes slideUp {
  to {
    top: -100px;
  }
}
